streamlit==1.41.1  
transformers==4.44.2  
torch==2.4.1
torchvision==0.19.1
detoxify==0.5.2
git+https://github.com/openai/CLIP.git
nltk
opencv-python-headless
imagehash
Pillow
matplotlib
numpy
piexif
image-quality
sentence-transformers
